.left-panel {
  display: grid;
}

#item {
  text-align: center;
  font-size: 110%;
  line-height: 48px;
  width: 180px;
  height: 48px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.active {
  border-left: 6px groove #323842;
  border: 1px solid rgb(209 154 102 / 0.1);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
